<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Capstone (5) WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Capstone (5).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - Capstone (5) WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6B252641C093238006C72B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B252781C093238006C72B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B252831C093238006C72B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B2528C1C093238006C72B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
